power-automate-flow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "companyName": {
                "type": "string"
              },
              "contactName": {
                "type": "string"
              },
              "contactEmail": {
                "type": "string"
              },
              "projectPhase": {
                "type": "string"
              },
              "requestedArea": {
                "type": "number"
              },
              "startDate": {
                "type": "string"
              },
              "endDate": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "geometry": {
                "type": "object"
              },
              "submittedAt": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            },
            "required": [
              "companyName",
              "contactName",
              "contactEmail",
              "projectPhase",
              "startDate",
              "endDate",
              "geometry",
              "requestId"
            ]
          }
        }
      }
    },
    "actions": {
      "Initialize_Variables": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "masterJsonFile",
              "type": "string",
              "value": "staging-requests.json"
            },
            {
              "name": "sharePointSite",
              "type": "string",
              "value": "https://your-tenant.sharepoint.com/sites/your-site"
            },
            {
              "name": "documentLibrary",
              "type": "string",
              "value": "Shared Documents"
            }
          ]
        },
        "runAfter": {}
      },
      "Get_Existing_JSON": {
        "type": "Http",
        "inputs": {
          "method": "GET",
          "uri": "@{variables('sharePointSite')}/_api/web/GetFileByServerRelativeUrl('/sites/your-site/Shared%20Documents/@{variables('masterJsonFile')}')/$value",
          "headers": {
            "Accept": "application/json",
            "Authorization": "Bearer @{body('Get_access_token')?['access_token']}"
          }
        },
        "runAfter": {
          "Initialize_Variables": [
            "Succeeded"
          ]
        }
      },
      "Parse_Existing_JSON": {
        "type": "ParseJson",
        "inputs": {
          "content": "@{body('Get_Existing_JSON')}",
          "schema": {
            "type": "object",
            "properties": {
              "requests": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "lastUpdated": {
                "type": "string"
              }
            }
          }
        },
        "runAfter": {
          "Get_Existing_JSON": [
            "Succeeded"
          ]
        }
      },
      "Add_New_Request": {
        "type": "Compose",
        "inputs": {
          "requests": "@union(body('Parse_Existing_JSON')?['requests'], array(triggerBody()))",
          "lastUpdated": "@utcNow('yyyy-MM-ddTHH:mm:ssZ')"
        },
        "runAfter": {
          "Parse_Existing_JSON": [
            "Succeeded"
          ]
        }
      },
      "Update_JSON_File": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{variables('sharePointSite')}/_api/web/GetFileByServerRelativeUrl('/sites/your-site/Shared%20Documents/@{variables('masterJsonFile')}')/$value",
          "headers": {
            "Accept": "application/json",
            "Content-Type": "application/json",
            "Authorization": "Bearer @{body('Get_access_token')?['access_token']}",
            "X-HTTP-Method": "PUT"
          },
          "body": "@json(body('Add_New_Request'))"
        },
        "runAfter": {
          "Add_New_Request": [
            "Succeeded"
          ]
        }
      },
      "Send_Email_Notification": {
        "type": "Office365Outlook",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/Mail",
          "queries": {
            "folderPath": "Inbox",
            "importance": "Normal"
          },
          "body": {
            "Subject": "New Staging Space Request - @{triggerBody()?['requestId']}",
            "Body": "<h2>New Staging Space Request</h2><p><strong>Request ID:</strong> @{triggerBody()?['requestId']}</p><p><strong>Company:</strong> @{triggerBody()?['companyName']}</p><p><strong>Contact:</strong> @{triggerBody()?['contactName']} (@{triggerBody()?['contactEmail']})</p><p><strong>Project Phase:</strong> @{triggerBody()?['projectPhase']}</p><p><strong>Requested Area:</strong> @{triggerBody()?['requestedArea']} sq ft</p><p><strong>Duration:</strong> @{triggerBody()?['startDate']} to @{triggerBody()?['endDate']}</p><p><strong>Description:</strong> @{triggerBody()?['description']}</p>",
            "To": "your-email@company.com"
          }
        },
        "runAfter": {
          "Update_JSON_File": [
            "Succeeded"
          ]
        }
      },
      "Send_Confirmation_Email": {
        "type": "Office365Outlook",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/Mail",
          "queries": {
            "folderPath": "Inbox",
            "importance": "Normal"
          },
          "body": {
            "Subject": "Staging Space Request Confirmation - @{triggerBody()?['requestId']}",
            "Body": "<h2>Request Confirmation</h2><p>Dear @{triggerBody()?['contactName']},</p><p>Your staging space request has been received and is being reviewed.</p><p><strong>Request ID:</strong> @{triggerBody()?['requestId']}</p><p><strong>Company:</strong> @{triggerBody()?['companyName']}</p><p><strong>Project Phase:</strong> @{triggerBody()?['projectPhase']}</p><p><strong>Requested Area:</strong> @{triggerBody()?['requestedArea']} sq ft</p><p><strong>Duration:</strong> @{triggerBody()?['startDate']} to @{triggerBody()?['endDate']}</p><p>You will receive an update on the status of your request within 2 business days.</p><p>Thank you,<br>Project Management Team</p>",
            "To": "@{triggerBody()?['contactEmail']}"
          }
        },
        "runAfter": {
          "Send_Email_Notification": [
            "Succeeded"
          ]
        }
      },
      "Return_Success_Response": {
        "type": "Response",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "success": true,
            "requestId": "@{triggerBody()?['requestId']}",
            "message": "Staging space request submitted successfully"
          }
        },
        "runAfter": {
          "Send_Confirmation_Email": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {},
    "$connections": {
      "office365": {
        "api": {
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/office365"
        },
        "displayName": "office365",
        "parameterValues": {}
      }
    }
  },
  "parameters": {}
}
